<mat-toolbar color="primary" class="mb-4">
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      
      <button mat-icon-button>
        <mat-icon class="example-icon" aria-label="Example heart icon">favorite</mat-icon>
      </button>
    
      <button mat-icon-button>
        <mat-icon class="example-icon" aria-label="Example delete icon">delete</mat-icon>
      </button>
    
          
    </mat-toolbar-row>
  </mat-toolbar>
  
<app-post-list></app-post-list>
<router-outlet></router-outlet>
